{
  "env": {
    "development": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            },
            "targets": {
              "ie": 11,
              "uglify": true
            }
          }
        ],
        "react",
        "stage-1"
      ],
      "plugins": ["babel-plugin-styled-components"]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "es2015": {
              "modules": false
            },
            "targets": {
              "ie": 11,
              "uglify": true
            }
          }
        ],
        "react",
        "stage-1"
      ],
      "plugins": ["babel-plugin-styled-components"]
    }
  }
}
